.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
.calculator {
  display: flex;
  flex-direction: column;
  background-color: #555;
  width: 100%;
  max-width: 300px;
  min-height: 600px;
  border-radius: 1rem;
  overflow: hidden;
}
  
  
  
  /* .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    display: flex;
    flex-direction: column;
    background-color: #555;
    width: 100%;
    max-width: 300px;
    min-height: 600px;
    border-radius: 1rem;
    overflow: hidden;
  }
  
  input {
    color: #fff;
    padding-top: 10rem;
    padding-right: 1.2rem;
    text-align: right;
    border: none;
    background-color: #373737;
    height: 280px;
    width: 300px;
    font-size: 2rem;
  }
  
  .keys {
    height: 320px;
    width: 300px;
    color: #fff;
    background-color: #373636db;
    padding: 1.4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
  }
  
  .key {
    position: relative;
    display: block;
    margin-top: 1rem;
    transition: 0.2s;
    user-select: none;
  }
  
  .key p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
  
  .mains p:hover {
    background: rgba(0, 38, 74, 0.207);
  }
  
  .keys .action p {
    color: rgb(28, 141, 246);
  }
  
  .only p {
    font-size: 1.3rem;
    border-radius: 50%;
    padding: 0.8rem 1rem;
  }
  
  .only p:hover {
    background: rgba(0, 38, 74, 0.207);
  }
  
  .equal p {
    background-color: rgb(28, 141, 246);
    padding: 30px 15px;
    margin-top: 2rem;
    border-radius: 0.5rem;
    font-size: 1.6rem;
  }
  
  .decimal {
    margin-top: -0.1;
    padding: 1rem;
  }
  
  .division{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(28, 141, 246);
    font-weight: 500;
    font-size: 1.3rem;
  }

  .multiplication{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(28, 141, 246);
    font-weight: 500;
    font-size: 1.3rem;
  }

  .delete{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(28, 141, 246);
    font-weight: 500;
    font-size: 1.3rem;
  }

  .subtraction{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(28, 141, 246);
    font-weight: 500;
    font-size: 1.3rem;
  }
 */



/* .main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator{
    display: flex;
    flex-direction: column;
    background: #5555;
    width: 100%;
    max-width: 300px;
    min-height: 600px;
    border-radius: 1rem;
    overflow: hidden;
}

.display{
    color: #fff;
    padding-top: 10rem;
    padding-right: 1.2rem;
    text-align: right;
    border: none;
    background: #373737;
    height: 280px;
    width: 300px;
    font-size: 1.3rem;
}

.keys {
    height: 320px;
    width: 300px;
    color: #fff;
    background-color: #373636db;
    padding: 1.4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1.2rem;
  }

  .key {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    transition: 0.2s;
  }

  .key p{
    font-size: 1.3rem;
    cursor: pointer;
  }


  .keys .action p {
    color: rgb(28, 141, 246);
  }

  .operator,
  .delete{
    font-size: 1.3rem;
    cursor: pointer;
  }

  .equal {
    background-color: rgb(28, 141, 246);
    padding: 30px 15px;
    margin-top: 1.6rem;
    border-radius: 0.5rem;
  }
 */
